name: Merge Schedule
"on":
  pull_request:
    types:
      - opened
      - edited
      - synchronize
  schedule:
    - cron: 0 * * * *
  workflow_dispatch: {}
jobs:
  merge_schedule:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm
          node-version: lts/*
      - run: npm ci
      - if: ${{ github.event_name == 'pull_request' }}
        run: npm run lint
      - if: ${{ github.event_name == 'pull_request' }}
        run: npm run test:ci
      - run: npm run build
      - uses: ./
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
